<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="215.42.29.26" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.Deployment" version="170.206.69.219" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="170.206.69.219" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="10.179.35.39" targetFramework="net461" />
  <package id="Microsoft.CrmSdk.XrmTooling.CrmConnector.PowerShell" version="170.206.69.219" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls.WithResources" version="209.99.34.49" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.29.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
</packages>